body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header */
.header,
.one {
    align-items: center;
    background-color: #1F2937;
    display: flex;
}

.left {
    margin-left: 10%;
    padding-right: 20px;
    width: 50%;
}

.right {
    display: flex;
    width: 50%;
}

#logo {
    height: 4rem;
}

.header ul {
    display: flex;
    gap: 4rem;
    padding-right: 1rem;
}

.header li {
    color: #E5E7EB;
    font-size: 2vw;
    list-style-type: none;
    padding: 5px;
}

a {
    text-decoration: none;
}

/* Main sections */
.main-container {
    display: flex;
    flex-direction: column;
}

/* Main section - top */
.hero-main {
    color: #F9FAF8;
    font-size: 3.5vw;
    font-weight: 800;
    margin: 0;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 2vw;
}

p.hero-secondary {
    padding-right: 2rem;
}

.blue {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.main-img {
    padding-right: 2rem;
    width: 80%;
}

/* Main section - middle */
.two {
    text-align: center;
}

.info {
    color: #1F2937;
    font-weight: 800;
}

.images-container {
    display: flex;
    flex-direction: row;
}

.images {
    height: 5rem;
    object-fit: contain;
    width: 25%;
}

.images img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.image-subtext {
    color: gray;
    font-weight: lighter;
    margin: 0;
    padding: 0 1rem;
}
